<h2><%= t('messages.index.header') %></h2>

<div class="span7">
  <%= render :partial => 'messages_canvas', :locals => { :messages => @messages} %>
</div>
<div class="span1">
</div>
<div class="span3">
  <%= render :partial => 'shared/add_button', :locals => { :button_text => t('messages.new.new_message'), :new_resource_path => new_message_path } %>
</div>
